{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts",
  "overrides": [
    {
      "files": "*.jsx",
      "options": {
        "editor.defaultFormatter": "esbenp.prettier-vscode",
        "editor.formatOnSave": true,
        "editor.tabSize": 2,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "jsxSingleQuote": true,
        "arrowParens": "always",
        "semi": true,
        "trailingComma": "none",
        "printWidth": 100,
        "quoteProps": "preserve"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "editor.defaultFormatter": "esbenp.prettier-vscode",
        "editor.formatOnSave": true,
        "editor.tabSize": 2,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "jsxSingleQuote": true,
        "arrowParens": "always",
        "semi": true,
        "trailingComma": "none",
        "printWidth": 100,
        "quoteProps": "preserve"
      }
    },
    {
      "files": "*.cy.ts",
      "options": {
        "editor.defaultFormatter": "esbenp.prettier-vscode",
        "editor.formatOnSave": true,
        "editor.tabSize": 2,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "jsxSingleQuote": true,
        "arrowParens": "always",
        "semi": true,
        "trailingComma": "none",
        "printWidth": 100,
        "quoteProps": "preserve"
      }
    },
    {
      "files": "*.css",
      "options": {
        "editor.defaultFormatter": "esbenp.prettier-vscode",
        "editor.formatOnSave": true,
        "editor.tabSize": 2,
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "editor.defaultFormatter": "esbenp.prettier-vscode",
        "editor.formatOnSave": true,
        "editor.tabSize": 2,
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 100
      }
    }
  ]
}
